html, body{
    height:100%;
}
body{
    background-color: aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    border-style: dotted;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}

.output h1, .output h5{
    display: inline;
}

.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}